<div class="masterContainer">
  <div class="hero">
    <div class="poster" *ngIf="series" [ngStyle]="{'background-image': 'url(' + series.image?.original + ')'}"></div>
    <div class="summary" [innerHTML]="series?.summary | sanitize"></div>
  </div>

  <div class="main">
    <div class="filterContainer">
      <div class="searchWrapper">
        <input name="query" [(ngModel)]="filterString" class="searchBar" type="text"
               placeholder="Episode title...">

        <label>
          <select [(ngModel)]="selectedSeason" name="season" class="dropDown" (change)="filterBySeason()">
            <option value="0">All seasons</option>
            <option *ngFor="let season of availableSeasons" value="{{season}}">Season {{season}}</option>
          </select>
        </label>

        <div class="clearFilters" (click)="clearFilters()"></div>
      </div>
    </div>

    <div class="masterEpisodeContainer">
      <div class="episodeContainer" *ngFor="let episode of series?.episodes | episodeFilter:filterString:'searchHighlight'">
        <div class="episode" *ngIf="episode !== -1">
          <div class="thumbnail" [ngStyle]="{'background-image': 'url(' + episode?.image?.medium+ ')'}"></div>
          <div class="infoContainer">
            <div class="title" [innerHTML]="episode.name | sanitize"></div>
            <div class="season"><span (click)="filterBySeason(episode.season)">Season {{episode.season}}</span> <span
                (click)="filterString = episode.name">Episode {{episode.number}}</span></div>
          </div>
        </div>

        <div class="noEpisode" *ngIf="episode === -1">
          Oops.. no episodes match your current filters.
        </div>

      </div>
    </div>
  </div>
</div>