@import '../../styles';

.masterContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 24px;
  background-color: $color-bg-dark;
  color: $color-text;

  > div {
    height: 100%;
  }
}

.hero {
  position: relative;
  width: 286px;
  transition: width .4s;
  padding-left: 16px;

  @media (max-width: 1133px) {
    width: 0;
    opacity: 0;
    pointer-events: none;
  }

  .poster {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: $border-radius;
  }
  .summary {
    position: absolute;
    left: 8px;
    top: 450px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 286px - (2 * 16px));
  transition: width .4s;

  @media (max-width: 1133px) {
    width: 100%;
  }
}

.filterContainer {
  width: 100%;
  margin-bottom: 8px;
  height: $filter-height;
  .searchWrapper {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-left: 16px;
    .searchBar {
      height: $filter-height;
      width: 100%;
      margin-right: 16px;
      padding: 0 8px;
      border: solid 1px $color-main;
      font-size: 1rem;
      border-radius: $border-radius;
      background-color: $color-bg;
      color: $color-text;
    }
    .dropDown {
      position: absolute;
      right: 16px;
      height: $filter-height + 2;
      width: 96px;
      padding: 8px;
      margin-right: 8px;
      -webkit-appearance: none;
      border: solid 1px $color-main;
      border-radius: $border-radius;
      font-size: 1rem;
      background-color: $color-bg;
      color: $color-text;
      text-align: center;
    }
  }
}

.clearFilters {
  @include linkHover();
  position: absolute;
  right: 126px;
  height: 42px;
  width: 32px;
  &:hover {
    &:after {
      color: $color-main-light;
    }
  }
  &:focus:after, &:active:after {
    color: $color-main;
  }

  &:after {
    content: "\d7";
    position: absolute;
    font-size: 34px;
    top: -3px;
    left: 6px;
    color: $color-text;
    font-weight: bold;
    transition: color .4s;
  }
}

.masterEpisodeContainer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-right: -16px;

  .episodeContainer {
    display: flex;
    justify-content: center;

    @media (max-width: 553px) {
      width: 100%;
    }
  }

  .episode {
    display: flex;
    flex-direction: column;
    padding: 16px;

    .thumbnail {
      width: 229px;
      height: 140px;
      border-radius: $border-radius;
      box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    }
    .infoContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 8px;
      .title {
        font-size: 1rem;
      }
      .season {
        padding-top: 4px;
        color: #ccc;
        span {
          @include linkHover();
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
